*{
    
	font-family:'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	font-weight:600;
	font-size:14px;
	outline:0 none;
	border:0 none;
	margin:0px;
	padding:0px;
    text-decoration:none;
    box-sizing: border-box;
        font-feature-settings: "kern"; 
    font-smoothing: antialiased
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}



@font-face {
    font-family: mainFont;
    src: url("fonts/LibreFranklin-Black.ttf") format("TrueType");
}


@font-face {
    font-family: mainFontLight;
    src: url("fonts/LibreFranklin-ExtraLight.ttf") format("TrueType");
}

@font-face {
    font-family: lemonLight;
    src: url("fonts/LEMONMILK-Light.otf") format("opentype");
}
@font-face {
    font-family: lemonMedium;
    src: url("fonts/LEMONMILK-Medium.otf") format("opentype");
}
@font-face {
    font-family: LemonRegular;
    src: url("fonts/LEMONMILK-Regular.otf") format("opentype");
}

*{
    font-family: LemonLight;
}

/********** loading screen **((((***/
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:10000000;
    background-color:white;
}

#load #headerLogo{
    margin-left:13px;
    height:12%;
    position:relative;
    float:left;
}

#load #preloadImg{

    height:120px;
    width:auto;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2.5s infinite;
    animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
    margin-left:-180px;
    margin-top:-60px;

}

#load  #headerLogo img{
    height:40%;
    width:auto;
    top:33%;
    
}



#load #homeText{

    margin-top:2.8%;
 
   
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
    
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

#load #homeText h3{
    color:black;
}

#load #homeText h3{
    color:orange;
    font-size:58px;
    line-height:58px;
    text-align: left;
    font-family: lemonmedium;
  /**  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);**/
      -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;
    background-color:;
    padding:4px;
    padding-left:0px;
    padding-bottom:0px;
    padding-right:0px;
}

#load #homeText h3 span{
font-size:55px;
    color:orange;
-webkit-text-stroke-width: 2px;
    padding-bottom:5px;
  -webkit-text-stroke-color: orange;

}

/********** end loading screen *********/

#homeWrap{
    
    width:100%;
    height:99.3%;
}

.anchor{
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  visibility: hidden;
}
.anchor1{
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}


/************ header section ********/

header{
    width:100%;
    height:12%;
    background-color:white;
    display: flex;
  justify-content: center;
  align-items: center;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 10000;
}

header #headerLogo{
    margin-left:13px;
    height:100%;
    position:relative;
    float:left;
}

header #headerLogo img{
    height:40%;
    width:auto;
    top:33%;
}


header #headerSocials{
    flex: 1;
  text-align: right;
    margin-right:25px;
}

#headerSocials i{
    
    display:none;
    color:black;
}



header #headerSocials ul{
    list-style: none;
    display:block;
    

}

header #headerSocials ul li{
    display:inline-block;
  vertical-align: top;
    text-align:center;
    padding-top:0px;
    border-radius: 50%;
    padding-left:1px;
    padding-left:5px;
    padding-right:5px;
    color:black;
    margin:3px;
}

header #headerSocials ul #middle{
    border-right:2px solid #fda700;
    border-left:2px solid #fda700;
    border-radius:0px;
    padding-left:12px;
    padding-right:12px;
}



/********** header section ***********/

/********** mobile menu section ********/ 

#menuToggle
{
  display: none;
  position: fixed;
  top: 4%;
  right: 20px;
  z-index: 10001;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: orange;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
position: absolute;
    width: 400px;
    margin: -100px 0 0 -150px;
    padding: 30px;
    padding-top: 145px;
    background: white;
    font-family: 'lemonMedium';
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 100%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/************ end mobile menu **********/

/********* Main home section *********/

#homeImage{
    
    width:100%;
    height:88%;
    overflow: hidden;
    position: relative;
    top:12%;
}

video{
min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}



#homeImage #safetyBackground{
    
    min-height:100%;
    min-width:100%;
    position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    display:none;
}


#homeText{
    
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -40%);
    color:transparent;
    z-index:100;
    padding-left:20px;
    border-left:5px solid #ffb730;
    paddin-top:5px;
    padding-bottom:3px;

    
}

    


#homeText h2{
    color:black;
    font-size:47px;
    line-height:50px;
    text-align:left;
    font-weight:800;
    font-family: lemonmedium;
    padding-top:0px;
    margin-left:-3px;
}

#homeText h3{
    color:white;
    font-size:58px;
    line-height:58px;
    text-align: left;
    font-family: lemonmedium;
  /**  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);**/
      -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
    background-color:;
    padding:4px;
    padding-left:0px;
    padding-bottom:0px;
    padding-right:0px;
}

#homeText h3 span{
font-size:55px;
    color:white;
-webkit-text-stroke-width: 2px;
    padding-bottom:5px;
  -webkit-text-stroke-color: white;

}

#homeImage #downArrow{
    
    position:absolute;
    right:20px;
    bottom:20px;
    z-index:100;
    color:#fda700;
    animation: arrow 1.5s linear infinite;
}

@keyframes arrow {
  0%   {bottom:10px;}
  50%  { bottom:30px;}
  100% {bottom:10px;}
}


@media (max-width: 480px){

    
    #menuToggle{
        display:block;
        top: 30px;
        right:23px;
    }
#load #preloadImg{
    
    height:80px;
    width:auto;
    margin-left:-125px;
    margin-top:-40px;

}
#homeText h2 {
    
        font-size: 32.5px;
    line-height: 28px;
}
#homeText h3 {
    
    font-size:40px;
    line-height:40px;

}
    
    #headerSocials i{
    
    display:block;
    color:black;
}

    
    header{
    
        height:80px;
    }
    
    header #headerLogo img {
    height: 32px;
    width: auto;
    top: 25px;
}


header #headerSocials ul{
    list-style: none;
    display:none;
    

}
   
    
  
}



/**************** Main home section ******************/

/**************** Banner *******************/

.bannerHeading{

    width:100%;
 
    background-color:black;
}

.bannerHeading p{
    
    font-size:30px;
    margin:0 auto;
    text-align:center;
    color:white;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
}
.bannerHeading p span{
    
    font-size:30px;
    margin:0 auto;
    text-align:center;
    color:#fda700;
}


/***************** start section1 ********************/

#section1{
    background-color:white;
    width:100%;

}

#section1 h2{

    text-align:center;
    height:190px;
    line-height:190px;
    font-size:24px;
}

#section1 #offerList{

    width:90%;
    height:auto;
    margin-left:5%;
    padding-bottom:100px;
}


#section1 ul{
    
    text-align:center;
    margin: auto;
    
}


#section1 ul li{

    width:250px;
    text-align:center;
    height:150px;
    list-style:none;
    display:inline-flex;
  list-style-type: none;
    align-items:center;
    color:black;
    flex-wrap: wrap;
    

}

#section1 ul a li .imageDiv{
    
    width:250px;
    height:90px;
    position:relative;
    top:0px;

}

#section1 ul a li img{
    height:70px;
    width:auto;
    margin:0 auto;
    margin-top:10px;
    
}

#section1 ul a li .headingDiv{
    
    width:100%;
    height:60px;
    line-height:60px;

}

#section1 ul a li h3{
    
    text-align:center;
    height:60px;
    width:100%;
    position:relative;
    margin-top:20px;
    text-align: center;
    margin:0 auto;
    
}


@media (max-width: 560px){

#section1 #offerList{

    width:90%;
    margin-left:5%;
}

#section1 ul li {
    width: 49%;
    text-align: center;
    height: 150px;
    list-style: none;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    color: black;
    flex-wrap: wrap;
}
    
    #section1 ul a li .headingDiv {
    width: 100%;
    height: 60px;
    line-height: 40px;
}
    
    #section1 h2{

    height:170px;
    line-height:170px;
}

.bannerHeading p {
    font-size: 17px;

}
.bannerHeading p span{
    font-size: 17px;

}
    
#section1 ul a li img {
    height: 60px;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
}

    #section1 ul a li h3{
    
        font-size:12px;
    }
}
    
    



/***************** End section1 ********************/

/***************** start section2 ********************/

#section2{
    
    height:700px;
    width:100%;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size:cover;
    margin-bottom:0px;
    position:relative;
    display: block;
}

#section2 .content1{

    width:65%;
    height:400px;
    background-color:yellow;
    position:absolute;
    left:0px;
    top:50px;
    display:flex;
}

#section2 .content1 p{
    
    width:80%;
    padding:30px;
    vertical-align:middle;
    color:black;
    font-family: mainFont;
    font-size:55px;
    line-height:58px;
    text-align: left;
    align-self: center;
}

#section2 .content1 p span{
    font-style:italic;
    font-size:55px;
    line-height:58px;
    font-family: mainFont;
}

#section2 .content2{

    width:40%;
    height:300px;
    position:absolute;
    right:5%;
    top:300px;
    background-color:#1c1c1a;
    display: flex;
    
}


#section2 .content2 p{
    
    padding:30px;
    vertical-align:middle;
    color:white;
    font-size:18px;
    text-align: left;
    align-self: center;
}

/** 
@media (max-width: 890px){

    #section2 .content2 p{
        
        font-size:16px;
    }
    
    #section2 .content1 p {
        font-size:45px;
        line-height:45px;
    }
    #section2 .content1 p span{
        font-size:45px;
        line-height:45px;
    }

    

}
@media (max-width: 730px){

    #section2 .content2 p{
        
        font-size:14px;
    }
    
    #section2 .content1 p {
        font-size:40px;
        line-height:40px;
    }
    #section2 .content1 p span{
        font-size:40px;
        line-height:40px;
    }
  

}

@media (max-width: 605px){
#section2 .content2{

    width:45%;
    right:0;
}
    
    
    
    #section2 .content2 p{
        
        font-size:14px;
        padding:15px;
    }
    
    #section2 .content1 p {
        font-size:35px;
        line-height:35px;
    }
    #section2 .content1 p span{
        font-size:35px;
        line-height:35px;
    }   

}

@media (max-width: 505px){
#section2 .content2{

    width:48%;
    right:0;
    height:380px;
    top:270px;
}
    
    
    
    #section2 .content2 p{
        
        font-size:13px;
        padding:14px;
        padding-left: 16px;
    }
    
    #section2 .content1{
    
        height:330px;
    }
    
    #section2 .content1 p {
        font-size:28px;
        line-height:28px;
        padding:20px;
    }
    #section2 .content1 p span{
        font-size:28px;
        line-height:28px;
    }   

}

@media (max-width: 405px){
    #section2 .content1 p {
        font-size:23px;
        line-height:23px;
    }
    #section2 .content1 p span{
        font-size:23px;
        line-height:23px;
    }  

}

@media (max-width: 330px){
    #section2 .content1 p {
        font-size:20px;
        line-height:20px;
    }
    #section2 .content1 p span{
        font-size:20px;
        line-height:20px;
    }  
    
    #section2 .content2 p{
        
        font-size:12px;
        padding:10px;
    }

}
**/

/***************** End section2 ********************/


/***************** start section3 ********************/

#section3{
    
        height:750px;
    width:100%;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size:cover;
    position:relative;
}



#section3 .content1{

    width:40%;
    height:650px;
    background-color:black;
    position:absolute;
    left:4%;
    top:0px;
}

#section3 .content1 h1{
    width:100%;
    height:60px;
    color:black;
    font-size:20px;
    text-align: center;
    padding-top:7%;
    text-transform: uppercase;
    float:left;

}

#section3 .content1 ul{

    float:left;
    width:85%;
    margin-left:6%;
    list-style: none;

}

#section3 .content1 ul li{
    
    color:white;
    width:50%;
    height:14%;
    float:left;
    background-color:;
    display:block;

}

#section3 .content1 ul li img{
    display:block;
    margin:auto;
    margin:0 auto;
        width:100%;
    height:auto;
    text-align:center;
vertical-align:middle;
}


#section3 .content1 ul li img:hover{
    
    opacity:0.6;
}

#section3 .content2{

    width:40%;
    height:650px;
    position:absolute;
    right:5%;
    top:0px;
    background-color:white;
    display: flex;
    
}


#section3 .content2 p{
    
    padding:30px;
    vertical-align:middle;
    color:black;
    font-size:16px;
    text-align: center;
    align-self: center;
}

#section3 .content2 p span{
    
    vertical-align:middle;
    font-size:24px;
    text-align: center;
    align-self: center;
}


/*** media queries ****/


@media (max-width: 920px){
    
   #section3 .content2 {
    width: 35%;

}
    
    #section3 .content2 p{
        
        padding:15px;
    }
    
    #section3 .content1 {
    width: 50%;
}
    
    

}

@media (max-width: 840px){
    
   #section3 .content2 {
    width: 40%;
    right:2%;

}
    
    #section3 .content2 p{
        
        padding:0px;
        font-size:14px;
    }
    #section3 .content1 {
    width: 50%;
    left:2%;
}
    
    
#section3 .content1{
    width:50%;
    left:2%;

}


}



@media (max-width: 650px){
    
    
    #section3{
        
        height:auto;
    }

 #section3 .content2 {
    width: 90%;
    display: block;
    left: 5%;
    position: relative;
     margin-top:70px;
     height:auto;
     margin-bottom:50px;

}
    
    
    #section3 .content1 h1{
    color:white;
        padding-top:30px;
        padding-bottom:70px;
}
    

    #section3 .content2 p{
        
        padding:30px;
        font-size:16px;
    }

    #section3 .content1 {
    width: 90%;
    left:5%;
        display:block;
    position:relative;
}
     
}


/***************** End section3 ********************/




/***************** start section4 ********************/

#section4{
    
        height:610px;
    width:100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size:cover;
    position:relative;
    display: block;
}


#section4 .content1{

    width:40%;
    height:500px;
    background-color:white;
    position:absolute;
    left:4%;
    top:20px;
    display:flex;
}





#section4 .content1 p{
    
    padding:30px;
    vertical-align:middle;
    color:black;
    font-size:16px;
    text-align: center;
    align-self: center;
}

#section4 .content1 p span{
    
    vertical-align:middle;
    font-size:24px;
    text-align: center;
    align-self: center;
    color:black;
}

#section4 .content2{

    width:50%;
    height:500px;
    position:absolute;
    right:4%;
    top:20px;
    background-color:orange; 
}

#section4 .content2 h2{
    
    width:100%;
    height:100px;
    position:relative;
    top:0px;
    text-align:center;
    line-height:130px;
    font-size:24px;
    color:white;
}

#section4 .content2 h2 span{
    
    width:100%;
    height:100px;
    position:relative;
    top:0px;
    text-align:center;
    line-height:100px;
    font-size:24px;
    color:black;
}

#section4 .content2 .upperContent{
    width:100%;
    height:160px;
    float:left;
    display:block;
}

#section4 .content2 .lowerContent{
    width:100%;
    height:150px;
    float:left;
    display:block;
}

#section4 .content2 .upperContent .upperContentList1{
    width:50%;
    display:block;
    height:100%;
    float:left;
    flex-wrap: wrap;
    
}

#section4 .content2 .upperContent .upperContentList2{
    width:50%;
    display:block;
    height:100%;
    float:left;
}





#section4 .content2 .upperContent .upperContentList2 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:35px;
    margin-bottom:15px;
    opacity:0.7;
}


#section4 .content2 .upperContent .upperContentList2 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:15px;
    color:white;
    width:90%;
    margin-left:5%;
    padding-left:5px;
    padding-right:5px;
}

#section4 .content2 .upperContent .upperContentList2 p span{
    font-size:24px;
    padding:0px;
}


#section4 .content2 .upperContent .upperContentList1 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:35px;
    margin-bottom:15px;
    opacity:0.7;
}


#section4 .content2 .upperContent .upperContentList1 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:15px;
    color:white;
    width:90%;
    margin-left:5%;
    padding-left:5px;
    padding-right:5px;
}

#section4 .content2 .upperContent .upperContentList1 p span{
    font-size:24px;
    padding:0px;
}


#section4 .content2 .lowerContent .lowerContentList1 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:35px;
    margin-bottom:15px;
    opacity:0.7;
}


#section4 .content2 .lowerContent .lowerContentList1 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:15px;
    width:80%;
    margin-left:10%;
    color:white;
}

#section4 .content2 .lowerContent .lowerContentList1 p span{
    font-size:24px;
}
#section4 .content2 #plus{
    
    position:absolute;
    top:225px;
    left:49%;
    font-size:20px;

}


#section4 .content2 #equals{

    position:absolute;
    left:5%;
    display:block;
    font-size:20px;
    bottom:90px;

}

/*** media queries ****/


@media (max-width: 1120px){
    
      #section4 .content2 .upperContent .upperContentList1 p span{
        
        font-size:19px;
    }
    #section4 .content2 .upperContent .upperContentList2 p span{
        
        font-size:19px;
    }
    #section4 .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:19px;
    }
}


@media (max-width: 920px){
    
   #section4 .content1 {
    width: 38%;

}
    
    #section4 .content1 p{
        
        padding:15px;
    }
    
    #section4 .content2 {
    width: 50%;
}
    
    #section4 .content2 p{
        
        font-size:12px;
    }
    
    #section4 .content2 .upperContent .upperContentList1 p{
        
        font-size:14px;
    }
    #section4 .content2 .upperContent .upperContentList2 p{
        
        font-size:14px;
    }
    #section4 .content2 .lowerContent .lowerContentList2 p{
        
        font-size:14px;
    }
    
    #section4 .content2 .upperContent .upperContentList1 p span{
        
        font-size:18px;
    }
    #section4 .content2 .upperContent .upperContentList2 p span{
        
        font-size:18px;
    }
    #section4 .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:18px;
    }
    
    
    


}



@media (max-width: 840px){

 #section4 .content1 {
    width: 41%;
    left:2%;

}
    
    #section4 .content1 p{
        
        padding:15px;
    }
    
    #section4 .content2 {
    width: 53%;
right:2%;
}
    
 
    
#section4 .content2 h2 {

font-size:20px;
    line-height:100px;
}
 
#section4 .content2 h2 span{

font-size:20px;
    line-height:100px;
}
 
#section4 .content2 .upperContent .upperContentList1 img {
    margin-top: 20px;
    margin-bottom:10px;
     
}
#section4 .content2 .upperContent .upperContentList2 img {
    margin-top: 20px;
    margin-bottom: 10px;
}
#section4 .content2 .lowerContent .lowerContentList1 img {
    margin-top: 40px;
    margin-bottom: 10px;
}
    
    #section4 .content2 .upperContent .upperContentList1 p{
        
        font-size:12px;
    }
    #section4 .content2 .upperContent .upperContentList2 p{
        
        font-size:12px;
    }
    #section4 .content2 .lowerContent .lowerContentList2 p{
        
        font-size:12px;
    }
    
    #section4 .content2 .upperContent .upperContentList1 p span{
        
        font-size:17px;
    }
    #section4 .content2 .upperContent .upperContentList2 p span{
        
        font-size:17px;
    }
    #section4 .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:17px;
    }
    
}



@media (max-width: 650px){
    
    
    #section4{
        
        height:auto;
    }

 #section4 .content1 {
    width: 90%;
    display: block;
    left: 5%;
    position: relative;
     margin-top:50px;
     height:auto;
     margin-bottom:50px;

}
    
    #section4 .content2 .upperContent .upperContentList2 p span{
        
        padding-left:10px;
        padding-right:10px;
    }
    
    #section4 .content1 p{
        
        padding:30px;
        font-size:16px;
    }

    #section4 .content2 {
    width: 90%;
    left:5%;
        display:block;
    position:relative;
}
    
    #section4 .content2 #plus{
    
    position:absolute;
    top:175px;
    left:49%;
    font-size:20px;

}

    
    


    
}


/***************** End section4 ********************/

/***************** start section4b ********************/

#section4b{
    
        height:610px;
    width:100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size:cover;
    position:relative;
    display: block;
}


#section4b .content1{

    width:40%;
    height:500px;
    background-color:white;
    position:absolute;
    left:4%;
    top:20px;
    display:flex;
}





#section4b .content1 p{
    
    padding:30px;
    vertical-align:middle;
    color:black;
    font-size:16px;
    text-align: center;
    align-self: center;
}

#section4b .content1 p span{
    
    vertical-align:middle;
    font-size:24px;
    text-align: center;
    align-self: center;
    color:black;
}

#section4b .content2{

    width:50%;
    height:500px;
    position:absolute;
    right:4%;
    top:20px;
    background-color:orange; 
}

#section4b .content2 h2{
    
    width:100%;
    height:100px;
    position:relative;
    top:0px;
    text-align:center;
    line-height:110px;
    font-size:25px;
    color:white;
}

#section4b .content2 h2 span{
    
    width:100%;
    height:100px;
    position:relative;
    top:0px;
    text-align:center;
    line-height:100px;
    font-size:25px;
    color:black;
}

#section4b .content2 .upperContent{
    width:100%;
    height:160px;
    float:left;
    display:block;
}

#section4b .content2 .lowerContent{
    width:100%;
    height:150px;
    float:left;
    display:block;
}

#section4b .content2 .upperContent .upperContentList1{
    width:50%;
    display:block;
    height:100%;
    float:left;
    flex-wrap: wrap;
    
}

#section4b .content2 .upperContent .upperContentList2{
    width:50%;
    display:block;
    height:100%;
    float:left;
}



#section4b .content2 .upperContent .upperContentList2 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    opacity:0.7;
}


#section4b .content2 .upperContent .upperContentList2 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:14px;
    color:white;
    width:90%;
    margin-left:5%;
}


#section4b .content2 .upperContent .upperContentList1 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:20px;
    margin-bottom:10px;
    opacity:0.7;
}


#section4b .content2 .upperContent .upperContentList1 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:14px;
    color:white;
    width:90%;
    margin-left:5%;
}


#section4b .content2 .lowerContent .lowerContentList1{
    width:50%;
    display:block;
    height:100%;
    float:left;
}

#section4b .content2 .lowerContent .lowerContentList2{
    width:50%;
    display:block;
    height:100%;
    float:left;
}



#section4b .content2 .lowerContent .lowerContentList1 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:40px;
    margin-bottom:10px;
    opacity:0.7;
}


#section4b .content2 .lowerContent .lowerContentList1 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:14px;
    width:80%;
    margin-left:10%;
    color:white;
}


#section4b .content2 .lowerContent .lowerContentList2 img{
   margin:0 auto;
    text-align:center;
    height:30%;
    width:auto;
    display:block;
    margin-top:40px;
    margin-bottom:10px;
    opacity:0.7;
}


#section4b .content2 .lowerContent .lowerContentList2 p{
   margin:0 auto;
    text-align:center;
    margin-top:10px;
    font-size:14px;
    width:80%;
    margin-left:10%;
    color:white;
}

#section4b .content2 .upperContent .upperContentList1 p span{
        
        font-size:20px;
    }
    #section4b .content2 .upperContent .upperContentList2 p span{
        
        font-size:20px;
    }
    #section4b .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:20px;
    }
    #section4b .content2 .lowerContent .lowerContentList2 p span{
        
        font-size:20px;
    }


#section4b .content2 #plus{
    
    position:absolute;
    top:225px;
    left:50%;
    font-size:20px;

}


#section4b .content2 #equals{

    position:absolute;
    left:30px;
    display:block;
    font-size:20px;
    bottom:100px;

}

/*** media queries ****/


@media (max-width: 1120px){
    
      #section4b .content2 .upperContent .upperContentList1 p span{
        
        font-size:19px;
    }
    #section4b .content2 .upperContent .upperContentList2 p span{
        
        font-size:19px;
    }
    #section4b .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:19px;
    }
    #section4b .content2 .lowerContent .lowerContentList2 p span{
        
        font-size:19px;
    }
}


@media (max-width: 920px){
    
   #section4b .content1 {
    width: 38%;

}
    
    #section4b .content1 p{
        
        padding:15px;
    }
    
    #section4b .content2 {
    width: 50%;
}
    
    #section4b .content2 p{
        
        font-size:12px;
    }
    
    #section4b .content2 .upperContent .upperContentList1 p{
        
        font-size:14px;
    }
    #section4b .content2 .upperContent .upperContentList2 p{
        
        font-size:14px;
    }
    #section4b .content2 .lowerContent .lowerContentList2 p{
        
        font-size:14px;
    }
    
    #section4b .content2 .upperContent .upperContentList1 p span{
        
        font-size:18px;
    }
    #section4b .content2 .upperContent .upperContentList2 p span{
        
        font-size:18px;
    }
    #section4 .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:18px;
    }
    #section4 .content2 .lowerContent .lowerContentList2 p span{
        
        font-size:18px;
    }
    
    
    


}



@media (max-width: 840px){

 #section4b .content1 {
    width: 41%;
    left:2%;

}
    
    #section4b .content1 p{
        
        padding:15px;
        font-size:14px;
    }
    
    #section4b .content2 {
    width: 53%;
right:2%;
}
    
 
    
#section4b .content2 h2 {

font-size:20px;
    line-height:100px;
}
 
#section4b .content2 h2 span{

font-size:20px;
    line-height:100px;
}
 
#section4b .content2 .upperContent .upperContentList1 img {
    margin-top: 20px;
    margin-bottom:10px;
     
}
#section4b .content2 .upperContent .upperContentList2 img {
    margin-top: 20px;
    margin-bottom: 10px;
}
#section4b .content2 .lowerContent .lowerContentList1 img {
    margin-top: 40px;
    margin-bottom: 10px;
}
    
    #section4b .content2 .upperContent .upperContentList1 p{
        
        font-size:12px;
    }
    #section4b .content2 .upperContent .upperContentList2 p{
        
        font-size:12px;
    }
    #section4b .content2 .lowerContent .lowerContentList2 p{
        
        font-size:12px;
    }
    #section4b .content2 .lowerContent .lowerContentList1 p{
        
        font-size:12px;
    }
    
    #section4b .content2 .upperContent .upperContentList1 p span{
        
        font-size:17px;
    }
    #section4b .content2 .upperContent .upperContentList2 p span{
        
        font-size:17px;
    }
    #section4b .content2 .lowerContent .lowerContentList1 p span{
        
        font-size:17px;
    }#section4b .content2 .lowerContent .lowerContentList2 p span{
        
        font-size:17px;
    }
    
    
}



@media (max-width: 650px){
    
    
    #section4b{
        
        height:auto;
    }

 #section4b .content1 {
    width: 90%;
    display: block;
    left: 5%;
    position: relative;
     margin-top:50px;
     height:auto;
     margin-bottom:50px;

}
    
    #section4b .content1 p{
        
        padding:30px;
        font-size:16px;
    }

    #section4b .content2 {
    width: 90%;
    left:5%;
        display:block;
    position:relative;
        margin-bottom:80px;
}
    
    


    
}



/***************** start section5 ********************/

#section5{
    
    height:800px;
    width:100%;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size:cover;
    display:block;
    position:relative;
}



#section5 .content1{

    width:40%;
    height:700px;
    background-color:black;
    position:absolute;
    left:4%;
    top:0px;
    
}

#section5 .content1 #sideText{
    position:relative;
    left:0px;
    width:25%;
    height:100%;
    top:0px;
    background-color:;
    overflow: hidden;
    float:left;
    display:none;

}



#section5 .content1 #sideText p{
    
    color:white;
    font-size:40px;
    position:absolute;
    width:600px;
    bottom:-70;
    left:15%;
    text-align: left;
    padding-top:10px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
    
    -webkit-transform: rotate(-90deg); 
    -moz-transform:    rotate(-90deg); 
    -ms-transform:     rotate(-90deg); 
    -o-transform:      rotate(-90deg); 

}

#section5 .content1 p span{
    font-style:italic;
    font-size:55px;
    line-height:58px;
    color:white;
    font-family: mainFont;
}

#section5 .content1 #sideVideos{
    
    width:98%;
    height:650px;
    float:right;
    background-color:;
    position:relative;
    right:8;
    top:25px;
        display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}

#section5 .content1 #sideVideos ul::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

#section5 .content1 #sideVideos ul::-webkit-scrollbar-track {
  background: #3b3b3b; 
    border-radius:10px;/* color of the tracking area */
}

#section5 .content1 #sideVideos ul::-webkit-scrollbar-thumb {
  background-color: orange;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid orange;  /* creates padding around scroll thumb */
}


#section5 .content1 #sideVideos ul{
    
    list-style:none;
    width:100%;
    height:100%;
    background-color:;
    overflow-y: scroll;
}


#section5 .content1 #sideVideos ul li{
    
    float:left;
    width:100%;
    height:33.33333333%;
    background-color:;
    display:flex;
    display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}

#section5 .content1 #sideVideos ul li img{
    
    margin:0 auto;
    height:85%;
    width:auto;
    text-align:center;
    vertical-align:middle;
}

.embed-container iframe {height:85%; width:auto;}

#section5 .content2{

    width:40%;
    height:650px;
    position:absolute;
    right:5%;
    top:0px;
    background-color:white;
    display: flex;
    padding:35px;
    
}


#section5 .content2 p{
    
    padding:30px;
    vertical-align:middle;
    color:black;
    font-size:16px;
    text-align: center;
    align-self: center;
    padding:35px;
}

#section5 .content2 p span{
    
    vertical-align:middle;
    font-size:24px;
    text-align: center;
    align-self: center;
}

#section5 .content3{
    
    width:35%;
    height:auto;
    position:absolute;
    right:0px;
    top:300px;
    background-color:#1c1c1c;
    display: flex;
    justify-content: center;
    
}

#section5 .content3 p{
    
    padding:40px;
    vertical-align:middle;
    color:white;
    font-size:18px;
    align-self: center;
    vertical-align: middle;

}



@media (max-width: 1258px){
    
    
    #section5 .content1 #sideText p{
    
        font-size:30px;
        line-height:30px;
        bottom:10px;
    }
    
    
  


}

    
@media (max-width: 930px){
    
    
    #section5 .content1{
    
        width:400px;
        left:5%;
    }
    
    #section5 .content1 #sideText p{
    
        font-size:30px;
        line-height:30px;
        bottom:10px;
    }
    
    #section5 .content1 #sideVideos{
    
        height:550px;
        top:85px;
    
    }
    
    #section5 .content1{
    
        width:400px;
        left:5%;
    }
    
    #section5 .content1 #sideText p{
    
        font-size:25px;
        width:100%;
        line-height:25px;
        top:10px;
        left:0;
        -webkit-transform: rotate(0deg); 
    -moz-transform:    rotate(0deg); 
    -ms-transform:     rotate(0deg); 
    -o-transform:      rotate(0deg); 
        text-align:center;
    }
    
    #section5 .content1 #sideText {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 13%;
    top: 0px;
    float: left;
    background-color:;
        
}
    
    
    
    #section5 .content1 #sideVideos {
    width: 98%;
    height: 93%;
    float: left;
    background-color: ;
    position: relative;
    right: 0;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
    }

@media (max-width: 840px){
    
   #section5 .content2 {
    width: 40%;
    right:2%;

}
    
    #section5 .content1 #sideText p{
        
        font-size:20px;
        padding:10px;
    }
    
    #section5 .content2 p{
        
        padding:0px;
        font-size:14px;
    }
    #section5 .content1 {
    left:2%;
        width:50%;
}
    


}



@media (max-width: 650px){
    
    
    #section5{
        
        height:auto;
        margin-top: -80px;
    }

 #section5 .content2 {
    width: 90%;
    display: block;
    left: 5%;
    position: relative;
     margin-top:50px;
     height:auto;
     margin-bottom:50px;
     padding:0px;

}
    
    #section5 .content1 #sideText{

    display:block;

        height:10%;
        line-height:10%;
}
    
    #section5 .content1 #sideVideos ul {
    list-style: none;
    width: 100%;
    height: 86%;
        margin-top:14%;
    overflow-y: scroll;
    
    }
    
        #section5 .content1 #sideVideos{
        
            top:15px;
        }
    
    #section5 .content2 p{
        
        padding:30px;
        font-size:16px;
    }

    #section5 .content1 {
    width: 90%;
    left:5%;
        display:block;
    position:relative;
}
     
}


/***************** End section5 ********************/



/***************** start section6 ********************/

#section6{
    
        height:700px;
    background-color:;
    width:100%;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size:cover;
    display:block;
    position:relative;

}

#section6 i{
 
    color:#fda700;
    position:absolute;
    top:10px;
    left:-38px;
    z-index: 20;
}
    

#section6 .content1{

    width:40%;
    height:250px;
    position:absolute;
    right:4%;
    top:200px;
    display:flex;
    z-index:10;
}

#section6 .content1 p{
    
    width:100%;
    vertical-align:middle;
    color:black;
    font-size:24px;
    text-align: center;
    align-self: center;
    margin-left:-40px;
}

#section6 .content1 p span{;
    color:#fda700;
    font-size:24px;
}

#section6 .content2{

    width:40%;
    height:600px;
    position:absolute;
    left:4%;
    top:50px;
    background-color:black;
    z-index: 1;
    border-left:10px solid orange;
    
}


#section6 .content2 p{
    
    padding:30px;
    padding-left:0px;
    padding-right:0px;
    vertical-align:middle;
    color:white;
    font-size:20px;
    text-align: left;
    align-self: center;
    width:80%;
    margin-left:10%;
}

#section6 .content2 p span{
    
    vertical-align:middle;
    color:orange;
    font-size:23px;
    text-align: left;
    align-self: center;
    font-family:mainFont;
}

#section6 form{

    width:80%;
    margin-left:10%;
    padding-bottom: 20px;
}

#section6 .alert{
    width:70%;
    height:70%;
    position:absolute;
    margin-left:25%;
    background-color:white;
    z-index:1000;

}

#section6 .alert i{
   position:relative;
    top:30px;
    left:50%;
    color:#fda700;
}

#section6 .alert h2{
    text-align: center;
    font-size:24px;
    margin-top:80px;
    width:90%;
    margin-left:10%;
    float:right;
    
}


#section6 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border:0px none;
  box-sizing: border-box;
    border-radius: 0px;
}
#section6 input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border:0px none;
  box-sizing: border-box;
    border-radius: 0px;
}

#section6 textarea{
    
      width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border:0px none;
  box-sizing: border-box;
    height:120px;
    border-radius: 0px;

}

#section6 input[type=submit] {
  width: 50%;
  background-color: #fda700;
  color: black;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
    margin-left:50%;
    font-family: lemonMedium;
}

#section6 input[type=submit]:hover {
  background-color: #e69d00;
    color:#1c1c1c;
}

#section6 ::-webkit-input-placeholder { /* Edge */
  color: #b0b0b0;
    text-transform: uppercase;
}

#section6 :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b0b0b0;
}

#section6 ::placeholder {
  color: #b0b0b0;
}

#section6 input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}




@media (max-width: 1030px){

    
    
    #section6 .content2 {
        width: 50%;
    
    }
    #section6 .content1 {
        width: 37%;
    
    
    }
    
    #section6 .content1 p{
    margin-left:0px;
    }
    #section6 .content2 p{
        
        font-size:16px;
    }
    #section6 .content2 p span{
        
        font-size:20px;
    }
    
}

@media (max-width: 840px){
    
    #section6 .content1 {
        right: 2%;
        width: 40%;
    }
    
    #section6 .content2 {
    width: 50%;
    left: 2%;
}
    
}


@media (max-width: 650px){

 
    
    #section6{
        
        height:auto;
    }

 #section6 .content2 {
    width: 90%;
    display: block;
    left: 5%;
    position: relative;
     height:auto;
     margin-bottom:120px;
     padding-top: 20px;

}
    
    #section6 .content2 p{
        
        padding:0px;
        font-size:16px;
    }

    #section6 .content1 {
    width: 90%;
    left:5%;
        display:block;
    position:relative;
        top:60px;
        height:auto;
        margin-bottom:80px;
}
     
    

}



@media (max-width: 315px){
#section4 .content2 p{
        
        font-size:12px;
    }
    #section6 .content2 p span{
        
        font-size:15px;
    }
    
   

}





/***************** End section6 ********************/




/***************** start footer ********************/

footer{
    border-top:15px solid black;
    background-color:black;
    width:100%;
    position:relative;
    margin-top:30px;
    display:block;
    height:425px;

}



footer #footerLeft{

    float:left;
    margin-left:2%;
    background-color:black;
    max-width:65%;
}

footer #footerRight{
    
    float:right;
    margin-right:2%;
    backgroud-color:black;
    max-width:25%;
}

footer ul li{

    color:white;
}


footer #footerLeft img{

    width:auto;
    height:35px;
    margin-top:20px;
    
}
footer #footerLeft p{
    
    color:white;
    margin-top:20px;
}

footer #footerLeft ul{
    
    margin-top:30px;
    list-style: none;

}

footer #footerLeft ul li{
    list-style:none;
    color:white;
    padding:3px;
}


footer #footerLeft ul li a{
    
    color:orange;

}

footer #footerRight h2{
    
    color:white;
    margin-top:20px;
    text-align: left;
    padding-left:12px;
    font-size:18px;
    font-family: lemonMedium;
}

footer #footerRight ul{
    
    margin-top:20px;
    list-style:none;
}

footer #footerRight ul li{
    
    color:white;
    list-style:none;
    padding:12px;
    display:inline-block;
    color:orange;
}


footer #leftFoot{
    
    float:left;
    position: absolute;
  top: 20px;
  left: 0%;
    text-align: left;
    margin-top:0px;
    max-width:60%;
}



footer #middleFoot{
    
    margin-top:0px;
    float:center;
    position: absolute;
  top: 15px;
  /* bring your own prefixes */
    text-align: center;
    width:350px;
}

footer #rightFoot{

    float: right;
    position: absolute;
    top: 15px;
    right: 0%;
    text-align: right;
    margin-top: 0px;
}

footer #copyright{

    position:absolute;
    width:100%;
    bottom:0px;
    padding:20px;
    font-size:12px;
    text-align:center;
    border-top:2px solid #404040;
    margin-top:10px;
    color:white;
}


@media (max-width: 1100px){

    footer p{
        
        font-size:12px;
    }
    
    footer p a{
        font-size:12px;
    }
    
    footer #middleFoot{
        
        width:290px;
    }

}
@media (max-width: 990px){

    footer #middleFoot{
        left:55%;
    }

}
@media (max-width: 740px){

    footer{
    
        height:450px;
    
    }
    
    footer #footerLeft ul li a{
        
        font-size:12px;
    }
    
    footer #footerLeft{
        
        margin-left:20px;
        width:55%;
    }
    footer #footerRight{
        
        margin-right:20px;
        width:30%;
        
    }
    
 footer #middleFoot{
        left:50%;
        position: absolute;
        top:70%;
     width:100%;
     transform: translate(-50%, -50%);
     text-align:center;
    }
    
    footer #rightFoot{
        
        text-align:right;
        top:2%;
        left:2%;
        transform: translate(0%, -0%);
    }
    footer #leftFoot{
        
        text-align:left;
        top:2%;
        left:2%;
        transform: translate(0%, -0%);
    }
}

@media (max-width: 440px){

    footer{
    
        height:580px;
    
    }
    
    footer #copyright  p{
        font-size:10px;
    }
    
     footer p a{
        
        font-size:11px;
        width:200px;
    }
    
    
}





.revealRight{
  position: relative;
  transform: translateX(-350px);
  opacity: 0.9;
  transition: all 1s ease;
}

.revealRight.active{
  transform: translateX(0px);
  opacity: 1;
}
.revealLeft{
  position: relative;
  transform: translateX(200px);
  opacity: 0.7;
  transition: all 0.7s ease;
}

.revealLeft.active{
  transform: translateX(0px);
  opacity: 1;
}

.revealOpacity{
  opacity: 0;
  transition: all 1s ease;
}

.revealOpacity.active{
  opacity: 1;
}

.revealUnderline:after{
content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

}

.revealUnderline:after.active{

    width: 100%;
	background: blue;
}

/***************** End footer ********************/
