*{
    
	font-family:'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	font-weight:600;
	font-size:14px;
	outline:0 none;
	border:0 none;
	margin:0px;
	padding:0px;
    text-decoration:none;
    box-sizing: border-box
}

@font-face {
    font-family: mainFont;
    src: url("fonts/GlacialIndifference-Regular.otf") format("opentype");
}


@font-face {
    font-family: mainFontBold;
    src: url("fonts/GlacialIndifference-Bold.otf") format("opentype");
}


#homeWrap{
    
    width:100%;
    height:calc(100% - 100px);;
    background-size:100% auto;

    
}

#homeWrap #myVideo{
    
     position: fixed;
  left: 0;
  top: 0;
    min-width: 100%;
    min-height: 100%;
    background-size:cover;

}

#homeWrap #myVideo img{
        width:100%;
    height:auto;
    background-size:cover;

}

#homeWrapOverlay{
width:100%;
    height:100%;
    position:relative;
    background-color:rgba(4,13,33,0.02);

}


header{
    position:relative;
    width:100%;
    height:150px;

}

#headerInner{
    width:100%;
    height:100%;
}

#homeWrap #logo{

    float:left;
    width:355px;
    height:auto;
    position: absolute;
    top: 50%;
    margin-left:1%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#homeWrap #logo .desktop{
    display:block;
}

#homeWrap #logo .mobile{
    display:none;

}

#homeWrap #menu{
position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    float:right;
    margin-right:5%;
    right:0px;
    
}

#homeWrap #menu h2{

    font-size: 14px;
    color:white;
    opacity:0.9;
}

#homeWrap #logo img{
    
   max-width:100%;
    height:auto;

}

#homeMain{
    
    width:60%;
    height:50%;
    margin-left:20%;
    margin-top:7%;
    
}

#homeMain h1{

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size:32px;
    text-align:center;
    padding-top:5px;
    color:#022054;

}
#homeMain h1 span{
        line-height:32px;
        font-size:27px;
}


#homeMain h1 #forInfluencers{
        font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    color:white ;
    padding:2px;
    padding-right:10px;
    padding-left:10px;
    font-size:32px;

}

#homeMain #socialBar{
    
    opacity:1;
    font-size:4px;
    color:white;
    position:absolute;
    width:35px;
    top:45%;
    right:15px;
    border:2px solid white;
    border-radius:20px;
   padding-bottom: 11px;
    z-index: 120;

}

#homeMain #socialBar:hover{
    opacity:1;
    border:2px solid #ff91cb;
    background-color:rgba(98, 10, 128,0.2);
}

#homeMain #socialBar a{
    color:white;
}

#homeMain #socialBar ul{

    list-style: none;
}

#homeMain #socialBar ul li{

    margin-top:11px;
    margin-left:7px;
    font-size:14px;
    opacity:0.7;
}


#homeMain #socialBar ul li:hover{
    
    opacity:1;
    cursor:pointer;
}
#homeMain #emailForm{
    text-align: center;
    margin-top:60px;
    width:100%;
    
}

#homeMain #emailForm #emailFormText{
    text-align:center;
    width:100%;

}

#homeMain #emailForm h3{
    

    color:#aeeb86;
    font-size: 12px;
    margin-bottom:2px;


}

#homeMain #emailForm h3 span{
    opacity:1;
        color:white;
    font-size: 12px;
    margin-bottom:2px;
}

#homeMain #emailForm input{


display: inline-block;
    width: 320px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.06);
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-left:auto;
    margin-left:0px;
    outline:none;
    border:1px solid white;
}

#homeMain #emailForm input:focus{
    
    outline:none;
    

}


#homeMain #emailForm ::placeholder{
    
    color:white;
    opacity:1;
    cursor: text;

}


#welcomeSubmitButton {
    height: 40px;
    margin-top: 0px;
    margin-right: 4px;
    width: 40px;
    background: url(miscImages/welcomeSubmit.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    position: relative;
    right: 0px;
    top: -40px;
    opacity: 0.6;
    cursor: pointer;
    position:absolute;
    bottom:384px;
    left:275px;
    margin-left:433px;
}

#downArrow{
    text-align:center;
    width:100%;
    height:50px;
    position:relative;
    animation: arrow 1.5s linear infinite;
}

#downArrow span{
    pposition: fixed;
  top: 52%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    opacity:1;
    color:white;


}

@keyframes arrow {
  0%   {top:0px;}
  50%  { top:20px;}
  100% {top:0px;}
}

#downArrow span:hover{
    
    opacity:1;
    cursor:pointer;

}

#divider{
    width:100%;
    height:100px;
    background-color:#111832 ;
    position:relative;
}

#divider span{
    color:#ff91cb;


}

#change{
    color:#000;
    font-family:arial;
    padding:5px;
    transition:opacity .5s linear;
}
.hide{
    opacity:0;
}




#divider h3{
    float:left;
    color:white;
    font-size:20px;
    oapcity:0.8;
    padding-left:20px;
    margin-top:25px;
    font-weight:300;
    line-height:25px;
    text-transform: uppercase;

}

#divider h3 a{
    color:white;
    margin-top:12px;
    text-decoration: underline;
    font-weight:600;
    font-size:18px;
    line-height:25px;
}

#divider h1{
    
    float:right;
    color:white;
    font-size:80px;
    line-height: 100px;
    padding-right:20px;
    float:right;
    font-family: mainFontBold;
    font-weight:600;

}

#divider h1 span{

    font-size:100%;
    font-weight:600;
    font-size: 80px;
    font-family: mainFontBold;
    font-weight:600;
}

#mainContentPage{
    width:100%;
    height:2000px;
    position:relative;
    overflow:auto;
}

#mainContentPage .section{
    
    overflow:auto;
    height:700px;
    border-top:3px solid white;
    position:relative;

}

#mainContentPage .banner{
    
    height:100px;
    width:100%;
    position:absolute;
    bottom:0;
    font-size:65px;
    font-weight:800;
    text-align: center;
    
}

#mainContentPage #covidMobileBanner{
    
    display:none;
}



#mainContentPage #mainSection3 .banner p{
    
    height:100px;
    position:absolute;
    bottom:0;
    font-size:64px;
    font-weight:800;
    text-align: left;
    line-height:100px;
    float:left;
    margin-left:7%;
    
}


#mainContentPage #mainSection3 .banner a{

    font-size:23px;
    background-color:#bf54bb;
    color:white;
    float:right;
    padding:20px;
    border-radius: 40px;
    line-height:30px;
    margin-top:15px;
    margin-right:7%;
    z-index:100000;
    
    
}

#mainContentPage .section .sectionMainContent{
    
    width:90%;
    margin-left:5%;
    height:400px;
    margin-top:40px;
    background-color:;
    display: inline-block;
    

}

#mainContentPage  p{
    
   font-family: mainFontBold;

}

#mainContentPage  p span{
    
   font-family: mainFontBold;

}

#mainContentPage .section .sectionMainContent .mainContentLeft{

    float:left;
    height:100%;
    width:50%;
    background-color:;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background-color:;
}

#mainContentPage .section .sectionMainContent .mainContentLeft h3{
    
    position:absolute;
    right:10%;
    bottom:78;

}
#mainContentPage .section .sectionMainContent .mainContentRight h3{
    
    position:absolute;
    right:2%;
    bottom:78;

}

#mainContentPage .section .sectionMainContent #mainContentLeft2 h3{
    
    right:15%;
    bottom:90;

}

#mainContentPage .section .sectionMainContent .mainContentLeft img{

    float:left;
    width:30%;
    height:auto;
    margin-left:-4%;
    background-color:;

}

#mainContentPage .section .sectionMainContent .mainContentLeft p{
    
    float:right;
    color:white;
    text-align: left;
    font-size:27px;
    width:50%;
    background-color:;
    margin-right:10%;
    text-transform: uppercase;
    padding-left:35px;

    


}

#mainContentPage .section .sectionMainContent .mainContentRight{

    float:right;
    height:100%;
    width:50%;
    background-color:;
        display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    background-color:;
}


#mainContentPage .section .sectionMainContent .mainContentRight img{

    float:left;
    width:30%;
    height:auto;
    margin-left:5%;
    background-color:;

}

#mainContentPage .section .sectionMainContent .mainContentRight p{
    
    float:right;
    color:white;
    text-align: left;
    font-size:27px;
    text-transform: uppercase;
    width:70%;
    background-color:;
    text-transform: uppercase;
    padding-left:30px;


}

#mainContentPage .section .sectionMainContent .mainContentRight p span{
    
    font-size:27px;
}


#mainContentPage .section .sectionMainContent #mainContentLeft2 p{


    width:70%;
    padding-left:0px;
    text-align:center;

}

#mainContentPage .section .sectionMainContent #mainContentRight2 p{
    
    width:50%;
    font-size:40px;
    text-align: center;
    margin-top:0%;

}

#mainContentPage .section .sectionMainContent #mainContentRight2 p a{
    
    padding:20px;
    background-color:rgba(230, 115, 210,0.6);
    color:white;
    font-size:20px;
    margin-top:40px;
    border-radius:50px;



}

#mainContentPage .section .sectionMainContent #mainContentRight2 img{
    
    margin-left:-10%;

}

#mainContentPage #mainSection1 h2{
    
    color:white;
    font-size:23px;
    text-transform: uppercase;
    font-weight: 800;
    text-align:center;
    margin-top:70px;
    width:96%;
    margin-left:2%;
}

#mainContentPage #mainSection3 h2{
    
    color:white;
    font-size:23px;
    text-transform: uppercase;
    font-weight: 800;
    text-align:center;
    margin-top:70px;
    width:96%;
    margin-left:2%;
}

#mainContentPage #mainSection1 h2 span{
    
    color:#34c3e6;
    font-size:23px;
    font-weight:800;
}


#mainContentPage .banner{

    font-family: mainFontBold;
}

#mainContentPage .banner span{

    font-family: mainFontBold;
}




#mainContentPage #mainSection1 #section1Banner {

    background-color:#34c3e6 ;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size:80px;
    font-style: italic;
    text-decoration: line-through;
}




#mainContentPage #mainSection2 .banner{

    height:220px;
    text-align: center;
    color:white;
    font-size:64px;
    text-transform: uppercase;
    width:98%;
    margin-left:1%;
}

#mainContentPage #mainSection2 .banner span{
    
    color:#34c3e6;
    font-size:70px;

}



#mainContentPage #mainSection3 .banner {

    background-color:#ff6cb9;
    text-transform: uppercase;
    color:white;
    font-size:64px;
}


#mainContentPage #mainSection3 .banner span{
    
    color:black;
    font-size:64px;

}


#mainContentPage #mainSection1{
        background:url(miscImages/section1Desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#mainContentPage #mainSection2{
        background:url(miscImages/section2Desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#mainContentPage #mainSection3{
        background:url(miscImages/section3desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-bottom:3px solid white;
    height:600px;
}

#mainContentPage .section .sectionMainContent #mainContentRight3{

    float:right;
    height:100%;
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

#mainContentPage .section .sectionMainContent #mainContentRight3 img{

    float:left;
    width:auto;
    height:18%;
    margin-left:5%;
    background-color:;

}

#mainContentPage .section .sectionMainContent #mainContentRight3 p{
    
    padding-left:80px;
}
    

#mainContentPage #mainSection3 .sectionMainContent{

    margin-top: 0px;
}


#infoWrap{
    width:100%;
    height:410px;
    background-color:#1b2034 ;
    background-color:#111832;
    position:relative;
}

#infoWrapInner{
    position:relative;
    width:100%;
    left:0%;
}

#infoWrap h2{
    text-align:left;
    padding-left:30px;
    padding-right:30px;
    padding-top:40px;
    font-size:22px;
    font-weight: 700;
    color:white;
    margin-bottom:30px;
}

#infoWrap h2 span{
    color:#ff91cb ;
    font-size:22px;
    font-weight: 700;
}

#infoWrap #brandsWrap{
    
    width:100%;
    height:130px;
    margin-top:30px;
    margin-bottom:30px;

}


#contactBanner{
    
    width:100%;
    height:100px;
    background-color: #34c3e6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 80px;
    position:relative;
    display:inline-block;
}


#contactBanner h2{
    
    float:left;
    font-size:70px;
    color:black;
    text-align: left;
    line-height:100px;
    margin-left:5%;
    font-family: mainFontBold;

}


#contactBanner #contactEmail{
    
    float:left;
    font-size:27px;
    color:black;
    text-align: center;
    margin-left:10%;
    line-height: 100px;
    z-index: 10000;

}

#contactBanner #contactMobile{
    
    float:right;
    font-size:27px;
    color:black;
    text-align: right;
    margin-right:5%;
    line-height:100px;

}



#footer{

width:100%;
    height:auto;
    background-color:#111832 ;
    position:relative;
}

#footer p{
    padding-top:60px;
    font-size:24px;
    color:#d6f7ff;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

#footer ul{
    padding-top:60px;
    text-align: center;
    list-style: none;
    margin:0 auto;
    padding-bottom:30px;
}

#footer ul li{
    
    font-size:20px;
    display:inline-block;
    color:white;
    padding:5px;
    border-right:1px solid white;
}

#footer ul li a{
    
    font-size:18px;
    color:#d6f7ff;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}

#footer ul #last{

    border:0 none;
}






.glider-contain {
            
            width: 100%;
            
        }
        .glider-slide {
            min-height: 150px;
        }
        .glider-slide img {
            width: 100%;
        }
        
        .glider{
            height:200px;
            width:98%;
            margin-left:1%;
            
        }

.glider::-webkit-scrollbar {
    display: none;
}
        
        .glider div{
            width:20%;
            height:200px;
        }

        .glider div:hover > img{
        
            opacity:0.6;
        }
        
        .glider div img{
            height:90px;
            width:auto;
            border: none;
            display: block;
            margin:0 auto;
            margin-top:55px;
        
        }
        
        .glider div #audible{
            
            height:110px;
                width:auto;
            margin-top:45px;
        }

#infoWrap #selctionroller{
    width:100%;
    height:30px;
    margin-top:0px;
    
}
#infoWrap #selctionroller ul{
    width:66px;
    height:22px;
    position:absolute;
    left:50%;
    margin-left:-33px;
    position:absolute;
    list-style: none;
    text-align:center;
}

#infoWrap #selctionroller ul li{
    
        display:inline;
    font-size:40px;
    font-weight:800;
    opacity:0.5;
    float:left;
    display:block;
    text-align:center;
    padding:4px;
}


#infoWrap #selctionroller ul li:hover{

    opacity:1;
}

#infoWrap #selctionroller ul li.circleOn{

            color:#fd69b7;
    opacity:1;
}

#infoWrap #selctionroller ul li a{
    
    color:white;
    border-style: none;
    border:none;
    padding:none;
    font-size:40px;
    font-weight:800;
    
}

#infoWrap #selctionroller ul #circleOn a{

    color:#fd69b7;
    border-style: none;
    border:none;
    padding:none;
    font-size:40px;
    font-weight:800;
    

}


/* for smaller devices */

/* for smartphones and portrait tablet */
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { 
    

    
    #divider h1{
        font-size:60px;
    } 
    
    #divider h1 span{
    font-size: 60px;
        }
    
    #mainContentPage #mainSection2 .banner{
        font-size:54px;
        }
        
    #mainContentPage #mainSection2 .banner span{
        font-size:54px;
        }
    
    

#mainContentPage #mainSection3 .banner p {


    font-size:54px;
}


#mainContentPage #mainSection3 .banner span{
    
    font-size:54px;

}
    
    #contactBanner h2{
        
        font-size:60px;
    }


#contactBanner #contactEmail{
    margin-left:7%;

}
     
@media (max-width:1090px) { 
    
    #mainContentPage #mainSection1{
        background:url(miscImages/section1Mobile.jpg);
}

#mainContentPage #mainSection2{
        background:url(miscImages/section2Mobile.jpg);

}

#mainContentPage #mainSection3{
        background:url(miscImages/section3Mobile.jpg);

}
    
    #mainContentPage .section .sectionMainContent .mainContentLeft p{
    
    font-size:22px;   
}
    #mainContentPage .section .sectionMainContent .mainContentRight p{
    
    font-size:22px;   
}
    
    
#mainContentPage .section .sectionMainContent .mainContentRight p span{
    
    font-size:22px;
}
    
    #mainContentPage .section .sectionMainContent #mainContentRight2 p{
        font-size:22px;
        width:70%;
    }
    
    
    #divider h3{
        font-size: 16px;
    }
    #divider h3 a{
        font-size: 16px;
    }
    
    #divider h1{
        font-size:40px;
    }
    
    #divider h1 span{
    font-size: 40px;
        }
    
        
    #mainContentPage #mainSection2 .banner{
        font-size:44px;
        }
        
    #mainContentPage #mainSection2 .banner span{
        font-size:44px;
        }
    
    
#mainContentPage #mainSection3 .banner p {


    font-size:38px;
}


#mainContentPage #mainSection3 .banner span{
    
    font-size:38px;

}

#mainContentPage #mainSection3 .banner a{
    
    font-size:19px;

}

      #contactBanner h2{
        
        font-size:42px;
    }


#contactBanner #contactEmail{
    margin-left:8%;
    font-size:22px;

}

#contactBanner #contactMobile{
    font-size:22px;

}
    
    

}
        
    /* hi-res laptops and desktops */ }

@media (max-width: 840px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
    
    #homeWrap{
    
    width:100%;
    height:90%;
    background-image:url(miscImages/Mobile_Website_v2.jpg);
    -webkit-background-size: 100%; 
-moz-background-size: 100%; 
-o-background-size: 100%; 
background-size: 100%; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

    
}
    
    
#homeWrap #logo .desktop{
    display:none;
}

#homeWrap #logo .mobile{
    display:block;

}
    

    
    .glider{
            height:200px;
            width:96%;
            margin-left:2%;
    }

    .glider div img{
            height:80px;
            width:auto;
        
        }

    
        .glider div img:hover{
        
            opacity:0.5;
        }
    
    .glider div #audible{
            
             height:95px;
                width:auto;

        }
    
    #homeWrap #myVideo{
    
        display:none;
    
    }
    
    #infoWrap #brandsWrap{
        margin-top:20px;
        
    }
    

    
    #homeMain h1{
        font-size:24px;
    }
    
    #homeMain{
        width:80%;
    margin-left:10%;
    margin-top:4%;
    }
    
 
    
    #homeMain #emailForm input{
        width:80%;
    }
    
    #homeMain #emailForm{
        margin-top:50px;
    }
    
    #infoWrap{
        width:100%;
        height:420px;
    }
    
    #homeMain h1 #forInfluencers{
    font-size:28px;

}
    


   
    #infoWrap h2{
        font-size:22px;
    }
    
    #infoWrap h2 span{
    
        font-size:22px;
    }

    
    header{
        padding-top:20px;
    }
    
    #infoWrap #selctionroller{
    margin-top:0px;
    }
    
    
    
    
    #homeWrapOverlay{
width:100%;
    height:100%;
    position:relative;
    background-color:rgba(4,13,33,0.1);

}

#homeMain #socialBar ul li{

    margin-top:11px;
    margin-left:7px;
    font-size:14px;
    opacity:1;
    
}
    
 
    #homeMain #socialBar{
        background-color:rgba(98, 10, 128,0.15);
    }
    
    #mainContentPage #mainSection1 #section1Banner{
        
        font-size:60px;
        line-height:100px;
    
    }
    
    
         #contactBanner h2{
        
        font-size:35px;
    }


#contactBanner #contactEmail{
    margin-left:7%;
    font-size:18px;

}

#contactBanner #contactMobile{
    font-size:18px;

}
    
    #mainContentPage #mainSection3 .banner p{
    
        margin-left:4%;
        font-size:30px;
    }
    #mainContentPage #mainSection3 .banner p span{
    
        
        font-size:30px;
    }
    
    #mainContentPage #mainSection3 .banner a{
    
        
        font-size:15px;
        padding:16px;
        margin-right:4%;
            line-height: 20px;
    margin-top: 23px;
    }
    
    #divider h3{
        display:none;
    }
    
    #divider h1{
        
        font-size:50px;
        text-align:center;
    float: none;
    
    }
    #divider h1 span{
        
        font-size:50px;
        text-align:center;
    
    }
    
 #mainContentPage #mainSection1 h2{
    
     margin-top: 0px;
    width: 100%;
    height: auto;
    padding-top: 25px;
     padding-bottom:25px;
    background-color: #34c3e6;
    padding-left: 2%;
     padding-right:2%;
     margin:0;
     color:black;
     font-size:22px;
 
 }
    
     #mainContentPage #mainSection1 h2 span{
        
         color:black;
         font-size:22px;
     
     }
    
    #mainContentPage #mainSection1 #section1Banner{
        
            position: absolute;
    top: 140px;
        font-size:50px;
    color: white;
        background-color:transparent;
        float:left;
    
    }
    
    #mainContentPage .section .sectionMainContent{
    float:left;
    }
    
    #mainContentPage .section .sectionMainContent .mainContentLeft{
        float:left;
        width:100%;
        height:auto;
        margin-top:130px;
    }
    #mainContentPage .section .sectionMainContent .mainContentRight{
        float:left;
        width:100%;
        height:auto;
        margin-top:70px;
    }
    
        #mainContentPage .section .sectionMainContent #mainContentRight1 img{
        display:none;
            
        }
    #mainContentPage .section .sectionMainContent .mainContentRight p{
        
        width:90%;
        font-size:30px;
    
    }
    
    #mainContentPage .section .sectionMainContent .mainContentRight p span{
        
        font-size:30px;
    
    }
    
    #mainContentPage .section .sectionMainContent .mainContentLeft h3{
    
        position:absolute;
        right:10px;
        bottom:0px;
    }
    #mainContentPage .section .sectionMainContent .mainContentRight h3{
    
        position:absolute;
        right:10px;
        bottom:-40px;
    }
    
    #mainContentPage .section{
        
        height:750px;
    }
    
    #mainContentPage .section .sectionMainContent #mainContentLeft2 p{
     
        text-align: center;
        font-size:30px;
        width:100%;
        margin:0;
    }
        
    
    #mainContentPage .section .sectionMainContent #mainContentLeft2 h3{
        
         position:absolute;
        right:10px;
        bottom:-40px;
    
    }
    
    
    
    #mainContentPage .section .sectionMainContent #mainContentRight2{
     
        width:70%;
        margin-left:15%;
        margin-top:100px;
    }
    
    #mainContentPage #mainSection2 .banner{
        
        margin-top: 0px;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #34c3e6;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0;
    color: black;
    font-size: 22px;
    }
    #mainContentPage #mainSection2 .banner span{
        font-size:22px;
        color:black;
    }
    
    #mainContentPage .section .sectionMainContent #mainContentRight2 p a{
    
        font-size:16px;
        padding:16px;
    }
    
    
#mainContentPage #covidMobileBanner{
    
    display:block;
    float:left;
    background-color:#ff91cb  ;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    font-size:25px;
    text-align: left;
}
    
#mainContentPage #covidMobileBanner h3{
    color:black;
    font-size:25px;
    font-weight:300;
    line-height:25px;
    text-transform: uppercase;
    text-align: right;
    margin:0 auto;
    padding-top:20px;
    width:90%;
    margin-right:5%;

}

#mainContentPage #covidMobileBanner h3 a{
    color:black;
    margin-top:0px;
    text-decoration: underline;
    font-weight:600;
    font-size:18px;
    margin-top:5px;
    text-align: right;
    float:right;
    
    
}
    
     #mainContentPage #mainSection1{
     
        height:800px;
     }
     #mainContentPage #mainSection2{
     
        height:600px;
     }
    
        #mainContentPage #mainSection2 .sectionMainContent .mainContentLeft{
            
            margin-top:40px;
        
        }
    
    #mainContentPage .section .sectionMainContent #mainContentRight3{
    
        margin-top:40px;
        height:40%;
        width:80%;
        margin-left:10%;
        float:left;
    }
    
        #mainContentPage .section .sectionMainContent #mainContentRight3 img{
        height:50px;
            width:auto;
        
        }
    
        #mainContentPage .section .sectionMainContent #mainContentRight3 p{
        text-align:right;
        
        }
    
    #mainContentPage .section .sectionMainContent{
        
     height:auto;   
    }
    
    #mainContentPage{
        height:auto;
        overflow: hidden;
    }
        
    
    
    
}

@media (max-width: 640px){

    #infoWrap #brandsWrap{
        margin-top:10px;
        
    }
    
    #homeWrap #logo{

    width:65%;
    height:auto;
}
    
    

    
    
#mainContentPage{
    width:100%;
    height:auto;
    min-height:1015px;
    background: url(miscImages/mainBackgroundMobile1.jpg);
        background-size: auto 100%;
    background-repeat: repeat;
    position:relative;
    overflow:hidden;
}
    
#section1{
    width:100%;
    height:260px;
    background-color:rgba(27, 32, 52,0.7);
    margin-top:20px;
}
    
    #section1 img{
    
        margin-top:10px;
        width:100%;
        height:auto;
    
    }
#section2{
    width:100%;
    height:260px;
    background-color:rgba(27, 32, 52,0.7);
    margin-top:40px;

}
#section3{
    width:100%;
    height:260px;
    background-color:rgba(27, 32, 52,0.7);
        margin-top:40px;
}
    

}

